<section id="section">
  <aside id="left">
    <div id="home-characters">
      <img src="{{head}}" />
      <img src="{{chest}}" />
      <img src="{{leg}}" />
    </div>
  </aside>
  {{!-- <div>
    <div id="inventory">
      <img src="../assets/images/inventory/{{item1}}.png">
      <img src="../assets/images/inventory/{{item2}}.png">
      <img src="../assets/images/inventory/{{item3}}.png">
    </div>
  </div> --}}
  <div id="right">
    <div class="across">
      <h2>Name: {{char_name}}</h2>
    </div>
    <div class="across">
      <h3>Created by: {{user.name}}</h3>
    </div>
    <div class="across">
      <h3>Age: {{age}}</h3>
    </div>
    <div class="across">
      <h3>Sex: {{sex}}</h3>
    </div>
    <div class="across">
      <h3>Description/Backstory: {{background}}</h3>
    </div>
    <div>
      <button class="readmore-button">
        <a href="/characters/{{id}}" class="readmore-a">Read More</a>
      </button>
    </div>
  </div>
</section>

