<section id="section">
    <aside id="left">
        <div id="home-characters">
            <img src="{{head}}">
            <img src="{{chest}}">
            <img src="{{legs}}">    
        </div>
    </aside>

    <div>
      <div id="inventory">
        <p>Axe</p>
        <img src="../assets/images/inventory/{{item1}}.png">
        <p>Bow & Arrow</p>
        <img src="../assets/images/inventory/{{item2}}.png">
        <p>Healing Potion</p>
        <img src="../assets/images/inventory/{{item3}}.png">
      </div>

</div>
    <div id="right">
        <div class="across">
          <h2>Name: {{char_name}}</h2>
          <h3>Created by: {{user.name}}</h3>
          <h3>Date Created: {{format_date date_created}}</h3>
          <h3>Age: {{age}}</h3>
          <h3>Sex: {{sex}}</h3>
          <h3>Pronouns {{pronouns}}</h3>
        </div>
        <div class="across">
          <h3>Physical features: </h3>
          <ul>
            <li>Eye Color: {{eyes}}</li>
            <li>Hair Length: {{hair_length}}</li>
            <li>Hair Color: {{hair_color}}</li>
            <li>Skin Color: {{skin}}</li>
            <li>Build: {{Build}}</li> 
          </ul>
        </div>
        <div class="across">
            <p>Description/Backstory: {{background}}</p>
        </div>
    </div>
    <div class="button-container">
        <a href="/characters/update/{{id}}"><button class="btn btn-primary m-2" id="update">Update</button></a>
        <button class="btn btn-primary m-2" id="delete">Delete</button>
      </div>
</section>

<form class="comment-form">
  <div class="form-group">
    <label for="add-comment">Write Comment</label>
    <input type="text" class="form-control" id="add-comment" />
  </div>
  <button type="submit" class="btn btn-primary m-2">Submit</button>
</form>
  
{{#each comments as |comment| }}
  {{> comments comment}}
{{/each}}

<script src="/js/comment.js"></script>
<script src="/js/delete.js"></script>

