<form action="submit" id="charSheet">
    <label for="char_name">
        Name: 
        <input type="text" name="char_name" id="char_name" value="{{char_name}}">
    </label>
    <label for="age">
        Age:
        <input type="number" name="age" id="age" value="{{age}}">
    </label>
    <select name="sex" id="sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>
    <select name="pronouns" id="pronouns">
        <option value="he/him">He/Him</option>
        <option value="she/her">She/Her</option>
        <option value="they/them">They/Them</option>
        <option value="other">Other</option>
    </select>
    <label for="background">
        What is your character's backstory
        <textarea name="background" id="background" cols="30" rows="10">{{background}}</textarea>
    </label>
    <label for="eyes">
        Eye Color:
        <input type="color" name="eyes" id="eyes" value="{{eyes}}">
    </label>
    <label for="hair_color">
        Hair Color:
        <input type="color" id="hair_color" name="hair_color" value="{{hair_color}}">
    </label>
    <label for="hair_length">
        <select name="hair_length" id="hair_length">
            <option value="short">short</option>
            <option value="medium">medium</option>
            <option value="long">long</option>
        </select>
    </label>
    <label for="skin">
        Skin Color:
        <input type="color" name="skin" id="skin" value="{{skin}}">
    </label>
    <label for="build">
        <select name="build" id="build">
            <option value="thin">Thin</option>
            <option value="Average">Average</option>
            <option value="Thick">Thicc</option>
        </select>
    </label>
    <input type="submit" id="btn">
</form>


  <script src="/js/update.js"></script>