<section class="instructions">
    <h1>Instructions for the page</h1>
    <p></p>
</section>

<section id="section2">
    <aside id="left">
        {{!-- Charater figure --}}
        {{user.figure}}
    </aside>
    <div id="right">
        <div class="across">
            <h3>Name: {{user.name}}</h3>
        </div>
        <div class="across">
            <h3>Race: {{user.race}}</h3>
        </div>
        <div class="across">
            <h3>Class: {{user.class}}</h3>
        </div>
        <div class="across">
            <h3>Stat Points: {{user.stats}}</h3>
        </div>
        <div class="across">
            <h3>Description/Backstory: {{user.description}}</h3>
        </div>
    </div>
</section>
<section id="character">
    <div>
        {{!-- Insert character figure --}}
        {{user.figure}}
    </div>
</section>
